<%- layout('./layouts/boilerplate.ejs') %>

<body>
    <div class="row"></div>
            <div class="col-8 offset-2">
                <br>
                <h1>Editing</h1>
                <form method="post" action="/listings/edit/<%=list._id%>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" name=list[title] placeholder='write title' value="<%=list.title%>" type="text"  required>
                        <div class="invalid-feedback">Enter valid title</div>
                    </div>
                    <div>
                        <label for="title" class="form-label">Description</label>
                        <textarea class="form-control"  name=list[description] placeholder="write description"  required><%=list.description%></textarea>
                        <div class="invalid-feedback">Enter valid description</div>
                    </div>
                    <div>
                        <label for="">Original Image</label><br>
                        <img style="height: 10rem;width: 13rem;" src="<%=preview_url%>" alt="Original Image">
                    </div>
                    <div>
                       
                        <label for="title" class="form-label">Update Image</label>
                        <input class="form-control" name=images[] placeholder="write image url" type="file"accept="image/*" multiple >
                    </div>
        
                    <div class="row">
                        <div class="col-md-4" >
                            <label for="title" class="form-label">Price</label>
                            <input class="form-control" name=list[price] placeholder='write price' value="<%=list.price%>" type="text" required>
                            <div class="invalid-feedback">Enter valid price</div>
                        </div>
                        <div class="col-md-4">
                            <label for="title" class="form-label">Location</label>
                            <input class="form-control" name=list[location] placeholder="write Location" value="<%=list.location%>" type="text"  required>
                            <div class="invalid-feedback">Enter valid location</div>
                        </div>
                        <div class="col-md-4">
                            <label for="categorySelect" class="form-label">Select Category</label>
                            <select class="form-select" name="list[category_type]" id="categorySelect">
                              <option selected value="<%=list.category_type%>"><%= list.category_type %></option>
                              <option value="airports">Airports</option>
                                <option value="apartment">Apartment</option>
                                <option value="apartments">Apartments</option>
                                <option value="beach">Beach</option>
                                <option value="boutique">Boutique</option>
                                <option value="bungalow">Bungalow</option>
                                <option value="budget">Budget</option>
                                <option value="camping">Camping</option>
                                <option value="castles">Castles</option>
                                <option value="cottage">Cottage</option>
                                <option value="desert">Desert</option>
                                <option value="farm">Farm</option>
                                <option value="ferry">Ferry</option>
                                <option value="forest">Forest</option>
                                <option value="hostel">Hostel</option>
                                <option value="hotel">Hotel</option>
                                <option value="house">House</option>
                                <option value="iconic_cities">Iconic Cities</option>
                                <option value="luxury">Luxury</option>
                                <option value="motel">Motel</option>
                                <option value="mountain">Mountain</option>
                                <option value="pools">Pools</option>
                                <option value="resort">Resort</option>
                                <option value="rooms">Rooms</option>
                                <option value="ship">Ship</option>
                                <option value="trending">Trending</option>
                                <option value="villa">Villa</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="title" class="form-label">Country</label>
                        <input class="form-control" name=list[country] placeholder="write Country" value="<%=list.country%>" type="text"  required>
                        <div class="invalid-feedback">Enter valid country</div>
                    </div>
                    <button class="btn-dark btn" >Add changes</button>
                </form>
            </div>
    </div>
</body>